;;; Site-local configuration

;; Maximize frame
(setq default-frame-alist '((width . 154) (height . 80)))
(setq initial-frame-alist '((width . 154) (height . 80)))

;; Default font face
(when window-system 
  (set-face-attribute 'default nil :font "Liberation Mono 10"))

;; Slackware/Gentoo uses profile instead of bashrc -- use login shell
(setq explicit-bash-args (quote ("--noediting" "-l" "-i")))

;; Local include paths
(add-to-list 'PC-include-file-path "/usr/include/qt4")
(add-to-list 'PC-include-file-path "/usr/include/gtk-2.0")
(add-to-list 'PC-include-file-path "/usr/include/glib-2.0")
(add-to-list 'PC-include-file-path "/usr/include/gstreamer-0.10")

;; Use okular (KDE4) as PDF viewer for TeX
(setq my-TeX-pdf-viewer "okular %o")

;; Upload screenshots to remote FTP by default
(setq screenshot-default-scheme "remote-ftp")
